<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body{
            color: white;
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(94,170,215,1) 56%, rgba(0,212,255,1) 100%);;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <div class="todo-formular">
        <form th:action="@{/result}" method="post">
            <label>Aufgabe:
                <input type="text" th:field="${aufgabeDTO.aufgabe}" placeholder="bitte geben Sie etwas ein">
            </label>
            <input type="submit">
        </form>
    </div>
</body>
</html>